body{
	background-color: pink;
	padding: 0px;
	margin: 0px;
	height: 5000px;
}
header{
	width: 100%;
	height: 80px;
	background-color: orange;
	position: fixed;
	z-index: 1;
}
#hero{
	width: 100%;
	height: 700px;
	background-image: url("../img/Corgie-in-black.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: auto;
}
.centered{
	padding-top: 200px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}
#services{
	width: 100%;
	height: 700px;
	background-color: lightblue;
}
#testimonials{
	width: 100%;
	height: 700px;
	background-color: lightgreen;
}
#socialmedia{
	width: 100%;
	height: 700px;
	background-color: purple;
}
footer{
	width: 100%;
	height: 80px;
}
#wrapper{ 
	position: relative;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	background-color: green;
 }
.columns{
	float: left;
  	width: 20%;
 	padding: 10px;
  	height: 300px;
}
.row:after {
	position: relative;
	margin: auto;
	content: "";
  display: table;
  clear: both;
}
/*Here is the styling for the typography*/ 
a{
	display: block;
	width: 30%;
	border: none;
	background-color: #659ba8;
	padding: 10px 28px;
	font-family: 'PT snans', sans-serif; 
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: auto;
}
h2{
	font-family: 'Montserrat', sans-serif;	
}
h4{
	font-family: 'Josefin Sans', sans-serif;
}
p{ 
	font-family: 'Montserrat', sans-serif;
}