html {
  scroll-behavior: smooth;
}
body{

	padding: 0px;
	margin: 0px;
	height: 5000px;
	background-color: #FCF0E8;
}
mark{
	background-color: #F9F6F4;
	font-family: 'Montserrat', sans-serif;
	
	font-style: italic;
}
/*header{
	width: 100%;
	height: 80px;
	background-color: #2EB6E7;
	position: fixed;
	z-index: 1;
}*/
#menu {
  height: 100px;
  overflow: hidden;
  background-color: #2EB6E7;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  padding-bottom: 20px;

}
#menu-wrapper {
	width: 500px;
	position: relative;
	margin: auto;
	top: 60px;
}
#logo{
	width: 350px;
	position: absolute;
	right: 420px;
	top: -40px;
	transition: 0.4s;


}
#nav-text {
	position: relative;
	display: inline-block;
	left: 100px;
	margin: auto;
	word-spacing: 6px;
	text-align:center;
	vertical-align:middle;

}
#nav-text:before {
  	position: absolute;
  	z-index: 2;
}
/*#menu {
	position: relative;
	margin: auto;
	width: 400px;
	top: 30px;
	word-spacing: 5px;
	}*/
#hero{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../img/Corgie-in-black.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}
.centered{
	display: block;
	position: relative;
  	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 50px;
 	text-align: center;
 	
}
#services{
	margin-top: 100px;
	width: 100%;
}

footer{
	width: 100%;
	height: 80px;
}
#wrapper{ 
    position: relative;
    margin: auto;
    width: 100%;
    padding-bottom: 5%;
 }
.boxes {	
	display:inline-block;
	/* Width of each cell */
	/* Must be compatible with total/max width of content (~~~) */
	width:230px;
	height:350px;
	margin:2%;
	text-align:center;
	vertical-align:middle;
	background-color: #F9F6F4;
	box-shadow: 10px 10px #D8C6BC;
	padding: 15px;
 
}
.boxes:before {
  	position: absolute;
  	z-index: 2;
}
 button#icon_menu {
	width: 50px !important; 
	border-radius: 10px !important; 
	background-color:#2EB6E7 !important;
	margin-left:20px !important;
	position: relative;
	box-shadow: none;
	display: inline;

}

/*Here is the styling for the typography*/ 
button{
	display: block;
	width: 200px;
	border: none;
	background-color:  #2EB6E7;
	padding: 10px 10px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: auto;
	box-shadow: 10px 10px #D8C6BC;

}
button:hover {
	background-color: #649BA8;

}
button:hover > a {
	color: white;

}
#about-me {
 	position: relative;
    margin: auto;
    width: 80%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.box{
	width:800px;
	height:500px;
	margin-left: 5%;
	margin: auto;
	background-color: #F9F6F4;
	box-shadow: 10px 10px #D8C6BC;
	padding: 15px;
 }
 .box:before {
  	position: absolute;
  	z-index: 2;
}

.left {
	width: 300px;
	display: inline;
	float: left;

}
.right {
	width: 200px;
	display: inline;
	float: left;
	margin-top: 50px;
	margin-left: 7%;

}
#testimonials{
	position: relative;
    margin: auto;
    width: 30%;
    padding-bottom: 5%;
  
 }
.polaroid{
	display:inline-block;
	position: relative;
	width:100%;
	height:100%;
	margin: 2%;
	text-align:center;
	vertical-align:middle;
	background-color: #F9F6F4;
	box-shadow: 10px 10px #D8C6BC;
	padding: 15px;
}
.banner{ 
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 220px;
	background-image: url("../img/banner_.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.banneryarn{
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 220px;
	background-image: url("../img/yarn.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bannerball{
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 220px;
	background-image: url("../img/ball.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bannerfish{
	position: relative;
	margin-top: 100px;
	margin-bottom:50px;
	width: 100%;
	height: 220px;
	background-image: url("../img/banner_.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}

}
#socialmedia{
	position: relative;
	margin-bottom: 200px;
    margin-right: auto;
    margin-left: : auto;
    width: 100%;
    
}
.instag {	
	display:inline-block;
	/* Width of each cell */
	/* Must be compatible with total/max width of content (~~~) */
	width:230px;
	height:350px;
	margin:5%;
	text-align:center;
	vertical-align:middle;
	padding: 15px;
	margin-bottom: 200px;
 
}
.instag:before {
  	position: absolute;
  	z-index: 1;
}
.HoverCard{
	display: none;
}
#icon{
	width: 150px;
	display: inline;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	text-transform: uppercase;

}
h4{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}
p{ 
	font-family: 'Montserrat', sans-serif;
}
a:link, a:visited, a:active   {
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: black;
	
}
a:hover {
	color: white;
}
/* here are the styles for the "Reserve" page*/

.container-reserve{
	width:70%;
	margin: auto;
	background-color: #F9F6F4;
	box-shadow: 10px 10px #D8C6BC;
	position: relative;
	top: 200px;

} 
#form {
	position: relative;
	margin: 10%;	

}
.margin {
	position: relative;
	top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
/* mobile menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2EB6E7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  
}

#main {
  transition: margin-left .5s;

}
#mySidebar #menu_icon_logo{
	display: none;
}

/* Here will be all of the media queries for mobile and tablet */ 

@media only screen and (max-width: 900px) {
	#menu {
		display: none;

	}
	#mySidebar #menu_icon_logo{
	display: block;
	}
	#hero{
	position: relative;
	margin: auto;
	width: 100%;
	height: 700px;
	background-image: url("../img/Corgie-in-black.jpg");
	background-position: center ;
	background-repeat: no-repeat;
	background-attachment: fixed;	
	}

}


